// app global css in SCSS form

.q-drawer {
    background-color: $grey-9;
}

.text-weight-300 {
    font-weight: 300;
}

.text-weight-400 {
    font-weight: 400;
}

.text-weight-500 {
    font-weight: 500;
}

.text-sub-title-color {
    color: $grey-6;
}

._opty-5 {
    opacity: 0.5;
}

._opty-7 {
    opacity: 0.7;
}
